@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --size: 16;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #ffd500;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 130%;
}
button {
  font-size: 16px;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  min-width: 30%;
  min-height: 35px;
  padding: 1%;
  margin: 3% 1%;
  border-radius: 6px;
  box-shadow: 5px 5px;
  border: none;
  cursor: pointer;
  position: relative;
}
button:active {
  background-color: #d7d7d7;
  top: 4px;
  box-shadow: 2px 2px;
}

.container {
  margin: 4% auto;
  width: 575px;
  height: 575px;
  border: 5px solid #fff;
  display: grid;
  box-shadow: 10px 10px;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
}

.input-container {
  margin: 4% 20%;
  text-align: center;
}

.div {
  background-color: #fff;
  border: 1px solid #000;
}

@media only screen and (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header {
    position: static;
    text-align: center;
    margin-top: 5%;
  }
  header h1 {
    margin-bottom: 20px;
  }
  .container {
    margin: auto;
    align-self: center;
  }
}
@media only screen and (max-width: 750px) {
  header h1 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .container {
    width: 375px;
    height: 375px;
  }
}
